@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-editor-body;
  /* @apply bg-body-main-bg; */
}

body::-webkit-scrollbar {
  @apply w-2;
}

body::-webkit-scrollbar-thumb {
  @apply bg-editor-scrollbar;
}

::selection {
  @apply bg-home-gray;
}

.cdx-block {
  @apply text-lg text-editor-text;
}

.ce-header {
  @apply text-lg text-editor-text;
}

.ce-block__content h1 {
  @apply text-3xl font-bold;
}
.ce-block__content h2 {
  @apply text-2xl font-bold;
}
.ce-block__content h3 {
  @apply text-xl font-bold;
}

.codex-editor__redactor {
  /* @apply pt-16 mr-96; */
  @apply pt-4;
}

.ce-block__content,
.ce-toolbar__content {
  @apply max-w-800;
}

.ce-toolbar__actions {
  /* @apply mr-48; */
}

.cdx-search-field__input {
  @apply text-black;
}

.ce-toolbar__plus {
  @apply hover:bg-editor-btn-icon hover:bg-opacity-30 text-home-gray hover:text-white hover:text-opacity-70;
}

.ce-toolbar__settings-btn {
  @apply hover:bg-editor-btn-icon hover:bg-opacity-30 text-home-gray hover:text-white hover:text-opacity-70;
}

.ce-inline-toolbar__toggler-and-button-wrapper {
  @apply text-black;
}

.ce-conversion-tool {
  @apply text-black;
}

.ce-block--selected.ce-block--focused .ce-block__content {
  @apply bg-home-gray bg-opacity-20;
}

.ce-block--selected .ce-block__content {
  @apply bg-home-gray bg-opacity-20;
}

.simple-image input,
.simple-image [contentEditable] {
  width: 100%;
  padding: 10px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
}

/* .simple-image img {
  max-width: 100%;
  margin-bottom: 15px;
} */

.simple-image img {
  /* @apply  mb-4 h-36 w-52 rounded-md cursor-pointer object-cover */
}

.simple-image {
  @apply grid grid-cols-4 p-6 py-5 rounded-md shadow-2xl gap-x-3 bg-editor-imgShowcase;
}

.unsplash-img {
  @apply object-cover mb-4 rounded-md cursor-pointer h-28 w-36;
}

.showcase-box {
  @apply w-full overflow-y-auto rounded-md h-96;
}

.showcase-box::-webkit-scrollbar {
  @apply w-1.5;
}

.showcase-box::-webkit-scrollbar-thumb {
  @apply rounded-md bg-editor-scrollbar;
}

.showcase-search {
  @apply flex px-6 pt-1;
}

.showcase-input {
  @apply w-full px-1 py-1 text-sm rounded-sm outline-none bg-editor-scrollbar bg-opacity-40 text-editor-text focus:ring-2 focus:ring-white;
}

.showcase-btn {
  @apply px-2 ml-2 font-normal bg-white rounded-md hover:opacity-90;
}

.embed-link {
  @apply flex flex-col px-3 py-1;
}

.linearBtn {
  @apply font-medium text-black bg-white opacity-100 text-opacity-70 hover:opacity-90;
}

.embed-input {
  @apply p-1 mb-6 rounded-sm outline-none bg-editor-scrollbar bg-opacity-40 text-editor-text focus:ring-2 focus:ring-white;
}

.embed-img img {
  @apply mx-auto object-cover max-h-[800px] max-w-800;
}

.embed-img {
  @apply mx-auto;
}

.resize-icon {
  @apply absolute z-10 w-5 h-5 bg-no-repeat bg-cover top-1/2 cursor-col-resize;
}

.resizer {
  @apply absolute bottom-0 right-0 mx-auto cursor-nwse-resize;
}

.resizer::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-right: 15px solid #ffff;
  transform: rotate(0deg);
}

.resizable {
  @apply border-white border mx-auto relative  max-w-800 max-h-[800px] min-h-[100px] min-w-[100px]  overflow-hidden;
}

.caption {
  @apply p-3 text-white border rounded bg-editor-imgShowcase border-body-normal;
}

.ce-code__textarea.cdx-input {
  @apply border-none rounded-lg bg-home-left-pane text-editor-text;
}

/* .ce-code__textarea.cdx-input::-webkit-scrollbar{
  @apply w-1.5
}

.ce-code__textarea.cdx-input::-webkit-scrollbar-thumb{
  @apply bg-white  rounded-md
} */

/* .ce-block__content.cdx-block::placeholder{
  @apply text-white 
} */

.embedLink-btn {
  @apply w-1/2 py-1 mx-auto font-semibold rounded-md shadow-md linearBtn;
}

.ce-header {
  /* @apply text-6xl */
}

.img-box {
  @apply w-10/12 p-3 mx-auto rounded-sm shadow-2xl bg-editor-imgShowcase;
}

.uploadBtn {
  @apply w-full px-2 py-1 mx-auto mb-2 text-white border border-white rounded-lg;
}

.upload-icons {
  @apply flex w-full py-2 mb-5 border-b;
}

.embedImg-icon {
  @apply px-2 py-1 text-white cursor-pointer hover:bg-home-gray hover:rounded-md hover:px-2 hover:py-1 hover:bg-opacity-50;
}

.unsplashImg-icon {
  @apply px-2 py-1 ml-3 text-white cursor-pointer hover:bg-home-gray hover:bg-opacity-50 hover:rounded-md hover:px-2 hover:py-1;
}

/* ? this is for the render setting menu  */
.embed-img.withBorder img {
  border: 1px solid #e8e8eb;
}

.embed-img.withBackground {
  background: #eff2f5;
  padding: 10px;
}

.embed-img.withBackground img {
  display: block;
  max-width: 60%;
  margin: 0 auto 15px;
}
/* ? end of : this is for the render setting menu  */
